@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");
/* @import url("https://fonts.googleapis.com/icon?family=Material+Icons"); */

:root {
    font-size: 16px;
    font-family: "Open Sans";

    --text-primary: #b6b6b6;
    --text-secondary: #ececec;
    --bg-primary: #23232e;
    --bg-secondary: #141418;
    --transition-speed: 400ms;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
    color: white;
    background-image: url('../assets/images/star-wars-background.jpeg');
}

body::-webkit-scrollbar {
    width: 0.75rem;
}

body::-webkit-scrollbar-track {
    background: #1e1e24;
}

body::-webkit-scrollbar-thumb {
    background: #302158;
}

.movie-list {
    display: flex;
    flex-wrap: wrap;
}

.like-button {
    color: red;
    fill: white;
    /* width: 50px;
    height: 50px; */
    padding: 1rem;
    border-radius: 50%;
    background-color: red;
    border: none;
}

.like-button:focus {
    outline: none;
}

.like-button svg {
    width: 50px;
    height: 50px;
}

.heart-like-button {
    fill: violet;
}

.movie .like-button-footer {
    align-self: flex-end;
    margin-top: auto;
}

.movie:nth-child(1) {
    background-image: url('../assets/images/star-wars-a-new-hope.webp');
}
.movie:nth-child(2) {
    background-image: url('../assets/images/star-wars-the-empire-strikes-back.jpeg');
}
.movie:nth-child(3) {
    background-image: url('../assets/images/star-wars-return-of-the-jedi.jpeg');
}
.movie:nth-child(4) {
    background-image: url('../assets/images/star-wars-the-phantom-menace.webp');
}
.movie:nth-child(5) {
    background-image: url('../assets/images/star-wars-attack-of-the-clones.webp');
}
.movie:nth-child(6) {
    background-image: url('../assets/images/star-wars-revenge-of-the-sith.jpeg');
}

.movie {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: flex-start;
    height: 400px;
    width: 300px;
    min-width: 250px;
    padding: 1.5rem;
    margin: 1rem;
    border-radius: 10px;
    transition: .2s;
    background-repeat: no-repeat;
    background-size: 350px 450px;
    opacity: 0.8;
}

.movie:hover {
    transform: translateY(-.2rem);
    opacity: 1;
    /* border: 1px outset #fff679; */
}


main {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

main svg {
    width: 75%;
    height: 75%;
}

.navbar {
    position: fixed;
    background-color: var(--bg-primary);
    opacity: 0.8;
    transition: width 400ms ease;
    z-index: 1;
}

.navbar-nav {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.nav-item {
    width: 100%;
}

.nav-item:last-child {
    margin-top: auto;
}

.nav-link {
    display: flex;
    align-items: center;
    height: 5rem;
    color: var(--text-primary);
    text-decoration: none;
    filter: grayscale(100%) opacity(0.8);
    transition: 400ms;
}

.nav-link:hover {
    /* color: var(--text-secondary); */
    color: #ffd53e;
    background: var(--bg-secondary);
    filter: grayscale(0%) opacity(1);
}

.nav-link svg {
    width: 2rem;
    min-width: 2rem;
    margin: 0 1.5rem;
}

.link-text {
    display: none;
    margin-left: 1rem;
    opacity: 0;
}

.fa-primary {
    color: #fff75e;
    fill: #fff75e;
}

.fa-secondary {
    color: #ffd53e;
    fill: #ffd53e;
}

.logo {
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 1rem;
    text-align: center;
    color: var(--text-secondary);
    background: var(--bg-secondary);
    font-size: 1.5rem;
    letter-spacing: 0.2ch;
    width: 100%;
}

.logo svg {
    transform: rotate(0deg);
    transition: var(--transition-speed);
}

.navbar:hover .logo svg {
    transform: rotate(-180deg);
}

.logo-text {
    display: inline;
    position: absolute;
    left: -999px;
    transition: var(--transition-speed);
}

/* small screens */
@media only screen and (max-width: 600px) {
    main {
        margin: 0;
    }

    .movie-list {
        padding: 2rem;
        padding-bottom: 1rem;
        margin-bottom: 5rem;
    }
    
    .logo {
        display: none;
    }

    .navbar {
        bottom: 0;
        width: 100vw;
        height: 5rem;
    }

    .navbar-nav {
        flex-direction: row;
    }

    .nav-link {
        justify-content: center;
    }
}

/* large screens */
@media only screen and (min-width: 601px) {
    main {
        margin-left: 5rem;
    }

    .movie-list {
        padding: 1rem;
        margin-left: 6rem;
        transition: margin-left 400ms ease;;
    }

    .navbar:hover + .movie-list {
        margin-left: 15.5rem;
    }

    .navbar {
        top: 0;
        width: 5rem;
        height: 100vh;
    }

    .navbar:hover {
        width: 15.5rem;
    }

    .navbar:hover .link-text {
        display: inline;
        opacity: 1;
        transition: opacity 400ms ease-in;
    }

    .navbar:hover .logo svg {
        margin-left: 12.5rem;
    }

    .navbar:hover .logo-text {
        left: 0px;
    }
}