.home {
  display: flex;
  height: 93vh;
  min-height: 0;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.home .star-wars-svg {
  width: 75%;
  height: 75%;
}

.footer {
  color: #ffd53e;
  background: none;
}

/* small screens */
@media only screen and (max-width: 600px) {
  .home {
    margin: 0;
  }
  .footer {
    margin-bottom: 3rem;
  }
}

/* large screens */
@media only screen and (min-width: 601px) {
  .home {
    margin-left: 5rem;
  }
}
