.home {
    display: flex;
    height: 93vh;
    min-height: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

.home .star-wars-svg {
    width: 75%;
    height: 75%;
}

.home .footer {
    color: #ffd53e;
    background: none;
    /* margin-top: auto; */
    /* justify-self: start; */
}

/* small screens */
@media only screen and (max-width: 600px) {
    .home {
        margin: 0;
    }
}

/* large screens */
@media only screen and (min-width: 601px) {
    .home {
        margin-left: 5rem;
    }
}