.like-button {
  fill: pink;
  padding: 0.5rem;
  border-radius: 50%;
  background: none;
  border: none;
}

.like-button:focus {
  outline: none;
}

.opacity {
  opacity: 0.7;
}

.like-button:hover {
  fill: rgb(240, 69, 97);
  /* transform: translateY(-0.2rem); */
  opacity: 0.8;
}

.like-button .heart-svg {
  width: 40px;
  height: 40px;
}

.heart-like-button {
  fill: red;
  background: none;
}

.movie .like-button-footer {
  /* align-self: flex-end;
  margin-top: auto; */
}

.movie-clicked .like-button {
  /* display: none; */
}
