.movie-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    transition: flex 1s;
}

/* small screens */
@media only screen and (max-width: 600px) {
    .movie-list {
        padding: 2rem;
        padding-bottom: 1rem;
        margin-bottom: 5rem;
    }
}

/* large screens */
@media only screen and (min-width: 601px) {
    .movie-list {
        padding: 1rem;
        margin-left: 6rem;
        transition: margin-left 400ms ease;
    }
}

/* extra large screens */
@media only screen and (min-width: 1648px) {
    .movie-list {
        padding: 1rem;
        margin-left: 6rem;
        transition: margin-left 400ms ease;
        justify-content: flex-start;
    }
}